<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label> Payee Name</label>
      <input class="form-control" (input)="onNameChange($any($event.target).value)" />
    </div>

    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label> Payment Date</label>
      <input type="date" class="form-control" (input)="onDateChange($any($event.target).value)" />
    </div>

    <div class="col">
      <label><b>Payment Date</b></label>
      <div>
        {{date | date:"MMMM d, yyyy"}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label> Payment amount</label>
      <input  class="form-control" (input)="onAmountChange($any($event.target).value)" />
    </div>

    <div class="col">
      <label><b>Payment amount</b></label>
      <div>
        {{amount |currency:'EUR'}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label> Heigth</label>
      <input  class="form-control" (input)="onHeigthChange($any($event.target).value)" />
    </div>

    <div class="col">
      <label><b>Heigth</b></label>
      <div>
        {{heigth | number:'1.1-3'}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label> Miles</label>
      <input  class="form-control" (input)="onMilesChange($any($event.target).value)" />
    </div>

    <div class="col">
      <label><b>Kilometers</b></label>
      <div>
        {{miles | convert: 'k m'}}
      </div>
    </div>
  </div>

</div>